@import "../helpers/variables";

// Font settings

@mixin serif-gray {
    font-family: $playfair-display; 
    color: $body-color;
}

// Border under text

@mixin border-under-text {
    content: "";
    display: block;
    margin: 0 auto;
    width: 340px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

// Animations 

@mixin fadeIn {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}