
//Font settings

$playfair-display: 'Playfair Display', serif; 

//Colors

$body-color: rgba(20, 20, 20, 0.664);
$heading-color: rgba(20, 20, 20, 0.438);

//Background colors

$background-gray : gainsboro;