@import "../helpers/variables";

.footer {
    &__container {
        background: $background-gray;
        padding: 0 10%;
    }
    &__span {
        color: rgba(20, 20, 20, 0.664);
        padding-right: 20px;
        &:hover {
            color: coral;
        }
    }
    &__icon {
        padding-right: 20px;
        color: rgba(20, 20, 20, 0.664);
        &:hover {
            color: coral;
        }
    }
    &__content {
        height: 100px;
        &--items {
            @media only screen and (max-width: 650px) {
                text-align: center;
            }
        }
    }
}
