@import "../helpers/mixin";

.sign-up {
  text-align: center;
  padding: 5% 0;
  background: $background-gray;
  margin-bottom: 5%;
  margin-top: 5%;
  p {
    margin: 0;
    letter-spacing: 1px;
  }
  &__newsletter {
    justify-content: center;
    padding-bottom: 3%;
  }
}
.fa-long-arrow-alt-right {
  position: absolute;
}
