@import "../helpers/mixin";


.sign-up {
    text-align: center;
    padding: 5% 0;
    background: $background-gray;
    margin-bottom: 5%;

    &_btn {
        display: inline-block;
        cursor: pointer;
        padding: 5px;
        position: relative;
    }

    p {
        margin: 0;
        letter-spacing: 1px;
    }

    &_newsletter {
        padding-bottom: 3%;
    }

}
.fa-long-arrow-alt-right {
    position: absolute;
}