@import "../helpers/mixin";
@import "../helpers/variables";
@font-face {
    font-family: "Playfair Display", serif;
    src: url("../../font/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu", sans-serif;
    src: url("../../font/Ubuntu/Ubuntu-Regular.ttf");
}

.nav--heading {
    h1 {
        letter-spacing: 7px;
        font-family: $playfair-display;
    }
}

.nav__menu--item {
    font-family: $playfair-display;
}

p {
    @include serif-gray;
}

.section-heading {
    font-family: "Ubuntu", sans-serif;
    color: $heading-color;
}

h3 {
    @include serif-gray;
}

.section-button {
    @include serif-gray;
}

.footer-container {
    font-family: $playfair-display;
}

input::placeholder {
    font-family: $playfair-display;
}

input:focus {
    font-family: $playfair-display;
}